{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_header %}
{% endblock %}

{% block content %}
    <img src="{% static 'images/backgrounds/macbookpro_on_wooden_cabinet.png' %}" alt="MacBook Pro on wooden cabinet" class="img-fluid mb-4">
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-left mt-3">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-6 my-5">
                        <h1 class="default-page-header mb-4">Join our Newsletter</h1>
                        <p>
                            Subscribing to the Salon Talks newsletter is a great way to stay informed about the latest discussions, articles, and insights. 
                            By signing up, you’ll receive curated content covering a wide range of topics, including politics, culture, and social issues.
                        </p>
                        <p>
                            The newsletter often features exclusive interviews, thought-provoking essays, and updates on upcoming events or discussions that you won’t want to miss.
                        </p>
                        <form method="post" action="{% url 'subscribe' %}">
                            {% csrf_token %}
                            {{ subscribe_form|crispy }}
                            <button class="btn btn-success" type="submit">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
