#Ignore core dumps
#core.Microsoft*
#core.mongo*
#core.python*

env.py
*.sqlite3

# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyc

# Ignore Node.js modules
#node_modules/

# Ignore GitHub files
#.github/

# Ignore Cloudinary Python text file
#cloudinary_python.txt

# Ignore SQLite database files
