{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<div class="container header-container">
   <div class="row">
       <div class="col"></div>
   </div>
</div>
{% endblock %}

{% block content %}
<div class="background-faq-class">
   <div class="overlay"></div>
   <div class="container-fluid">
       <div class="row">
           <div class="col text-center mt-3">
               <h1>FAQ</h1>
               {% if questions %}
                   {% for question in questions %}
                       <div class="question-container">
                           <h3 class="question" style="cursor: pointer;" aria-expanded="false">
                               <span class="caret" style="margin-right: 8px;">▶</span>
                               {{ question.question }}
                           </h3>
                           <div class="answer" style="display: none;">
                               {% if question.answer %}
                                   <p>Answer:</p>
                                   <h4>{{ question.answer.answer }}</h4>
                               {% else %}
                                   <p>No answer available for this question.</p>
                               {% endif %}
                           </div>
                       </div>
                       <hr>
                   {% endfor %}
               {% else %}
                   <p>No questions available.</p>
               {% endif %}
           </div>
       </div>
   </div>
</div>

<!-- Link to the JavaScript file -->
<script src="{% static 'faq/js/faq.js' %}"></script>

{% endblock %}
