<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Salon Talks
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Rating</a>
                <a href="" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Salon Talks</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="thoughtful-exchanges-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Thoughtful Exchanges
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="thoughtful-exchanges-link">
                <a href="" class="dropdown-item">Life Conversation</a>
                <a href="" class="dropdown-item">Discussing the Present</a>
                <a href="" class="dropdown-item">Pages & Perspectives</a>
                <a href="" class="dropdown-item">All Thoughtful Exchanges</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="essence-of-living-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Essence of Living
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="essence-of-living-link">
                <a href="" class="dropdown-item">Food & Drink</a>
                <a href="" class="dropdown-item">Health & Wellness</a>
                <a href="" class="dropdown-item">Roots & Blooms</a>
                <a href="" class="dropdown-item">All Essence of Living</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>
