{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-left mt-3">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-6">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                <img src="{% static 'images/backgrounds/macbookpro_flower.webp' %}" 
                                alt="MacBook" 
                                class="img-fluid mb-4">
                                <h1 class="text-center default-page-header mb-4">Get In Touch</h1>
                                <br>
                                {{ form|crispy }}
                            </fieldset>
                            <div class="form-group my-2 custom-form-button-container">
                                <!-- Submits the Form -->
                                <button class="btn btn-success" type="submit">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
